.books-container{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-container{
    display: flex;
    background-color: #7C3A9E;
}