.beige-claro {
    color: #FFF1EE;
}

.beige-claro:hover {
    color: #DEB5F3;
}

.navbar-container-1 {
    padding: 5px;
    background-color: #FFF1EE;
    display: flex;
    align-items: center;
}

.navbar-container-1 img{
    width: 60%;
}

.icon-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-button{
    display: flex;
    background-color: #FFF1EE;
    border: none;
    color: #7C3A9E;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    align-content: center;
}

.nav-button img{
    height: 25px;
}

.nav-button:hover{
    background-color: #DEB5F3;
}

.navbar-container-2 {
    width: 100%;
    background-color: #7C3A9E;
    padding: 20px;
}


.navbar-container-1 .svg-img {
    margin: 20px;
}

.search-button {
    background-color: transparent;
    border: solid 1px #FFF1EE;
    color: #FFF1EE;
}

.search-button:hover {
    background-color: #FFF1EE;
    color: #7C3A9E;
}