* {
    box-sizing: border-box;
}


.footer-container {
    background-color: #7C3A9E;
    color: #FFF1EE;
    padding: 40px 20px; 
    margin-top: 0; 
}

.logo-img img {
    max-width: 200px; 
    margin-bottom: 20px; 
}


.footer-container h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; 
}


.footer-container .nav-link {
    color: #FFF1EE; 
    margin-bottom: 5px; 
    padding: 0; 
}

.footer-container .nav-link:hover {
    color: #ffffff; 
    text-decoration: none; 
}


.footer-container .nav-item {
    color: #FFF1EE; 
    margin-bottom: 5px;
}

.footer-container .nav-item:hover {
    color: #ffffff; 
}

@media (max-width: 768px) {
    .footer-container {
        text-align: center; 
    }

    .footer-container .nav {
        align-items: center; 
    }

    .footer-container .logo-img {
        margin-bottom: 20px; 
    }
}